<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
        Layout = "_Layout";
    }
    <head>
        <link rel="stylesheet" href="../css/style.css"> 
    </head>
    <div id="tipo">
           
            <img src="img/o-que-fazer-para-a-bateria-do-tablet-android-durar-mais--photo74744011-44-12-37.jpg" alt="Sua empresa em qualquer lugar"/>
            <hgroup>
                <h1>O CONTROLE DE SUA EMPRESA A QUALQUER HORA E QUALQUER LUGAR!!!</h1>
            </br>
        </br>
    </br>
            </hgroup>
        </div>
        <div class="digital">
            </br>
            <h2>O PONTO DIGITAL</h2>
            </br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ezarum sed explicabo magnam asperiores corrupti
                odit obcaecati illo omnis consequuntur quam nam sapiente pariatur, officiis deserunt facere repellendus
                tenetur. Quaerat, officia!
            </p>
            </br>
            <div class="moço"><img src="img/1448382164309reuniao.jpg">
            </br>
        </br>
        <div class="link">
            
        <a href='@Url.Action("Index","Sobre")'>"Ler mais"</a>
    </br>
    </div>
        </div>
    </div>
    <section class="todas"> 
        </br>
            <h3>ESCOLHA O SEU PLANO!!!</h3>

        </br>
    </br>
        <article class="boxa">
            <a href='@Url.Action("Index","Planos")'>TESTE GRÁTIS
                </br> POR UM MÊS</a>

        </article>
    </br>
</br>
        <article class="boxb">

               <a href='@Url.Action("Index","Planos")'>Plano1-
                    </br>R$29,90 por mês</a>

        </article>
        </br>
        </br>
        <article class="boxc">
                <a href='@Url.Action("Index","Planos")'>Plano2-
                </br>R$149,90 por mês</a>
        </article>
        </br>
        <article class="boxd">
            <a href='@Url.Action("Index","Planos")'>Plano3-
                </br>R$299,90 por mês</a>
            </br>
        </article>
    </br>
</br>
            
    </section>  

        </section>
        
        <main>
        
            <div class="login">
                </br>
            
        </br>
           
        </div>
        </main>


                </div>
            </form>
        </main>
        <section id="local">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.148645254728!2d-46.65657118502223!3d-23.563104284681987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.+Paulista%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1552853381524" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        </section>
   
</header>
